@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P';
  font-style: normal;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 2000 px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-image: "./SMB_NES_World_1-1_Map.webp";
  background-color: rgba(0, 0, 0, 0.788);
}

.title{
  font-size: 35px;
}

.navbar h1 {
  align-items: right;
  color: #ff0000;
}
.navbar .links {
  margin-left: auto;
}

.navbar i {
  padding-right: 20px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}
.navbar a:hover {
  color: #f1356d;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.nes-mario {
  margin-right: 2rem;
}

#homeContainer {
  top: 20px;
  width: 500px;
  margin-left: 50px;
}

#homeContainer2 {
  top: 40px;
  width: 800px;
  margin: auto;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 10px;
}

#downloadContainer{
  top: 20px;
  width: 500px;
  margin: auto;
}

#messageBubble{
  margin-top: 20px;
  margin-bottom: 20px;
}

#messageContainer{
  width: 500px;
  margin: auto; 
  margin-top: 60px;
  margin-bottom: 60px;
}

#aContainer{
  margin-top: 60px;
}

.Diagram{
  display: flex;
  justify-content: center;
}

.Timeline{
  margin-left: 60px;
  height: 527px;
}

.Rahul{
  margin-left: 340px;
}

.Ishan{
  justify-content: left;
}